body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  color: #222;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: #f0f0f0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.logo { font-size: 24px; font-weight: bold; }

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}


.titleFirstPage {
  color: #000;
  font-size: 50px;

}

.hero {
  height: 80vh;
  background: url('../assets/hero.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  padding-left: 60px;
  color: white;
}

.btn {
  background: black;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

/* PRODUCTS PAGE */
.shop-layout {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 20px;
  padding: 40px;
}

.filters {
  background: white;
  padding: 20px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product-card {
  background: white;
  padding: 15px;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.price { font-weight: bold; }

.checkout-item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr auto;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 10px;
  margin-top: 20px;
}

form input {
  padding: 10px;
  border: 1px solid #ccc;
}

/* Responsive */
@media (max-width: 900px) {
  .shop-layout { grid-template-columns: 1fr; }
  .products-grid { grid-template-columns: repeat(2, 1fr); }
}
